@charset "UTF-8";
html,body,div,article,aside,figure,footer,header,hgroup,menu,nav,section,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font-weight: normal;
	font-variant: normal;
	vertical-align: baseline;
	background: transparent
}
html,body {
	overflow-x: hidden
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block
}
ul,ol {
	list-style: none
}
input,select {
	vertical-align: middle
}
strong {
	font-weight: bold
}
table {
	border-collapse: collapse;
	border: 0;
	border-spacing: 0
}
th,td {
	vertical-align: top;
	border: 0;
	font-weight: normal;
	text-align: left
}
@charset "UTF-8";
	body {
	background: #fff;
	color: #333;
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック',sans-serif;
	line-height: 1;
	text-rendering: optimizelegibility;
	-webkit-text-size-adjust: none;
	word-wrap: break-word;
	word-break: break-all
}
a {
	display: block;
	color: #333;
	text-decoration: none
}
a:hover,a:active {
	text-decoration: none
}
#page_wrapp {
	position: relative;
	z-index: 1;
	overflow: hidden;
	width: 100%;
	background: #fff;
	-webkit-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px);
	-webkit-transition: -webkit-transform 200ms cubic-bezier(0, 0, 0.25, 1);
	-moz-transition: -moz-transform 200ms cubic-bezier(0, 0, 0.25, 1)
}
.wrapp_fix {
	-webkit-transform: translate3d(225px, 0px, 0px) !important;
	-moz-transform: translate3d(225px, 0px, 0px) !important;
	-webkit-transition: -webkit-transform 0ms;
	-moz-transition: -moz-transform 0ms
}
#wrapper {
	position: relative;
	z-index: 2;
	overflow: hidden;
	padding-top: 45px
}
#overlay {
	display: none;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 1000;
	overflow: hidden;
	width: 100%;
	height: 100%;
	-webkit-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px);
	-webkit-transition: -webkit-transform 200ms cubic-bezier(0, 0, 0.25, 1);
	transition: -webkit-transform 200ms cubic-bezier(0, 0, 0.25, 1);
	-moz-transition: -moz-transform 200ms cubic-bezier(0, 0, 0.25, 1)
}
#overlay.wrapp_fix {
	display: block !important;
	z-index: 1000 !important
}
header#header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	height: 45px;
	//background: rgba(252,124,121,0.94);
	background: rgba(255,143,234,0.90);
	-webkit-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px)
}
header#header .hd_inner {
	position: relative;
	height: 45px
}
header#header .hd_inner h1 {
	width: 80px;
	margin: 0 auto;
	text-align: center
}
header#header .hd_inner h1 a {
	width: 80px;
	height: 45px;
	margin: 0 auto
}
header#header .hd_inner .btn_hd {
	display: inline-block;
	position: absolute;
	top: 0;
	width: 45px;
	height: 45px;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent
}
header#header .hd_inner .btn_hd_menu {
	left: 0;
	background: url(/assets/sp/images/icon_hd_menu.png) center center no-repeat;
	background-size: 20px 20px
}
header#header .hd_inner .btn_hd_search {
	right: 0;
	background: url(/assets/sp/images/icon_hd_search.png) center center no-repeat;
	background-size: 20px 20px
}
header#header .hd_inner .btn_hd_alert {
	right: 0;
	text-align: center
}
header#header .hd_inner .btn_hd_alert .btn_hd_alert_inner {
	display: inline-block;
	text-align: center
}
header#header .hd_inner .btn_hd_alert .btn_hd_alert_inner span {
	display: inline-block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-width: 23px;
	height: 17px;
	margin-top: 13px;
	padding: 3px 3px 0 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 11px;
	font-weight: bold
}
header#header .hd_inner .btn_hd_alert .btn_hd_alert_inner span.default {
	background: #e96e6b;
	color: rgba(255,255,255,0.6)
}
header#header .hd_inner .btn_hd_alert .btn_hd_alert_inner span.default:after {
	display: block;
	position: absolute;
	bottom: -4px;
	left: 4px;
	width: 5px;
	height: 4px;
	content: " ";
	//background: url(/assets/smart_phone/arrow_hd_alert_default-09e5c6abfc25222c9fdc207f7991f944.png) no-repeat;
	background-size: 5px 4px
}
header#header .hd_inner .btn_hd_alert .btn_hd_alert_inner span.active {
	background: #fff;
	color: #fc7c79
}
header#header .hd_inner .btn_hd_alert .btn_hd_alert_inner span.active:after {
	display: block;
	position: absolute;
	bottom: -4px;
	left: 4px;
	width: 5px;
	height: 4px;
	content: " ";
	//background: url(/assets/smart_phone/arrow_hd_alert_active-a805749c9063433b6ff8d9fd237612f8.png) no-repeat;
	background-size: 5px 4px
}
header#header #header_search_area {
	position: fixed;
	top: 45px;
	left: 0;
	z-index: 9999;
	width: 100%;
	padding: 10px 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: 1px solid #ddd;
	background: #f5f5f5
}
header#header #header_search_area form {
	position: relative;
	height: 26px;
	padding: 0 10px 0 5px;
	background: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}
header#header #header_search_area input {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0 0 0 18px;
	background: url(/assets/sp/images/icon_hd_search02.png) 2px 6px no-repeat;
	background-size: 13px 14px;
	border: 0;
	color: #333;
	font-size: 12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 1.3em
}
.bottom_login {
	margin-top: 20px;
	padding: 0 10px
}
#footer {
	margin-top: 20px;
	background: #eee
}
#footer ul {
	min-height: 1px
}
#footer ul:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden
}
#footer ul li {
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 50%;
	border-bottom: 1px solid #fff;
	font-size: 12px
}
#footer ul li:nth-child(2n-1) {
	border-right: 1px solid #fff
}
#footer ul li a {
	padding: 10px;
	color: #666
}
#footer ul li a span {
	display: inline-block;
	margin-right: 2px;
	font-size: 9px
}
#footer .copyright {
	font-size: 12px;
	color: #666;
	text-align: center
}
#footer .copyright a {
	padding: 10px 0;
	color: #666;
}
#side_menu {
	display: none;
	position: fixed;
	z-index: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	top: 0px;
	left: 0px;
	width: 225px;
	height: 100%;
	min-height: 100%;
	background: #6a5959
}
#side_menu .title_side_menu {
	height: 30px;
	padding: 0 10px;
	background: #544848;
	color: #d0baba;
	font-size: 13px;
	font-weight: bold;
	line-height: 30px
}
#side_menu .side_menu_content ul li {
	background: url(/assets/sp/images/arrow_side_menu.png) 210px center no-repeat;
	background-size: 5px 10px;
	border-bottom: 1px solid #544848
}
#side_menu .side_menu_content ul li a {
	height: 40px;
	color: #fff;
	font-size: 13px;
	line-height: 40px
}
#side_menu .side_menu_content ul li.side_menu_all a {
	background-position: 10px 4px
}
#side_menu .side_menu_content ul li.side_menu_fashion a {
	background-position: 10px -32px
}
#side_menu .side_menu_content ul li.side_menu_make a {
	background-position: 10px -70px
}
#side_menu .side_menu_content ul li.side_menu_hair a {
	background-position: 10px -106px
}
#side_menu .side_menu_content ul li.side_menu_beauty a {
	background-position: 10px -144px
}
#side_menu .side_menu_content ul li.side_menu_love a {
	background-position: 10px -180px
}
#side_menu .side_menu_content ul li.side_menu_gourmet a {
	background-position: 10px -217px
}
#side_menu .side_menu_content ul li.side_menu_nail a {
	background-position: 10px -292px
}
#side_menu .side_menu_content ul li.side_menu_travel a {
	background-position: 10px -255px
}
#side_menu .side_menu_content ul li.side_menu_lifestyle a {
	background-position: 10px -329px
}
#side_menu .side_menu_content ul.side_menu_mypage li a {
	padding-left: 10px
}
#side_menu .side_menu_content ul.side_menu_mypage li a img {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	margin-right: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px
}
#side_menu .side_menu_content ul.side_menu_nav li a {
	//padding-left: 40px;
	padding-left: 10px;
	//background-image: url(/assets/sp/images/nav_icon.png);
	background-repeat: no-repeat;
	background-size: 19px 366px
}
#side_menu .side_menu_content: last-child {
	padding-bottom: 20px
}
#side_menu .side_menu_search {
	padding: 10px
}
#side_menu .side_menu_search input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 30px;
	padding: 0 5px 0 25px;
	border: 0;
	background-color: #fff;
	background-image: url(/assets/sp/images/icon_search.png);
	background-size: 13px 13px;
	background-position: 7px 7px;
	background-repeat: no-repeat;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #666;
	font-size: #fff;
	line-height: 30px
}
.sidemenu_fix {
	display: block !important;
	z-index: 999 !important
}
.alert_top,.notice_top {
	padding: 10px 15px;
	border-bottom: 1px solid #eee;
	background: #f5f5f5;
	color: #333;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	line-height: 1.4em
}
.alert_top {
	color: #fc7c79
}
.notice_top {
	color: #333
}
.article_list ul li {
	border-bottom: 1px solid #eee
}
.article_list ul li a {
	display: table;
	table-layout: fixed;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	width: 100%;
	line-height: 0;
	padding-right: 10px
}
.article_list ul li a .list_thumb {
	display: table-cell;
	vertical-align: top;
	width: 138px
}
.article_list ul li a .list_thumb img {
	width: 120px;
	padding: 8px 0 8px 8px;
	position: absolute;
	//height: 75px
}
.article_list ul li a .list_content {
	display: table-cell;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: top;
	width: 100%;
	height: 106px
}
.article_list ul li a .list_content h3 {
	display: table;
	table-layout: fixed;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	width: 100%;
	line-height: 0;
	height: 85px;
	padding-top: 8px
}
.article_list ul li a .list_content h3 span {
	display: table-cell;
	vertical-align: middle;
	font-size: 13px;
	line-height: 1.5em
}
.article_list ul li a .list_content .list_info {
	width: 100%;
	height: 13px;
	font-size: 11px;
	line-height: 1;
	min-height: 1px
}
.article_list ul li a .list_content .list_info:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden
}
.article_list ul li a .list_content .list_info .view {
	display: inline-block;
	float: left;
	color: #999
}
.article_list ul li a .list_content .list_info .view span {
	padding-right: 2px;
	color: #999;
	font-weight: bold
}
.article_list ul li a .list_content .list_info .author {
	display: inline-block;
	float: right;
	color: #999;
	font-weight: bold;
	text-align: right
}
.article_list.ranking_list ul li a {
	position: relative
}
.article_list.ranking_list ul li a .icon_ranking {
	position: absolute;
	top: 0;
	left: 0
}
.category_list {
	margin: 10px
}
.category_list ul {
	border: 1px solid #eee;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	min-height: 1px
}
.category_list ul:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden
}
.category_list ul li {
	float: left;
	width: 50%;
	border-bottom: 1px solid #eee
}
.category_list ul li:nth-child(2n-1) a {
	border-right: 1px solid #eee
}
.category_list ul li:nth-child(9) {
	border-bottom: 0
}
.category_list ul li: last-child {
	border-bottom: 0
}
.category_list ul li a {
	height: 35px;
	//padding: 0 0 0 30px;
	padding: 0 0 0 10px;
	//background: url(/assets/sp/images/catList_icon.png) no-repeat;
	background-size: 15px 263px;
	font-size: 12px;
	line-height: 35px
}
.category_list ul li.active {
	background: #ff96eb;

}
.category_list ul li.active a {
	color: #fff;

}
.category_list ul .cat_all a {
	background-position: 10px 5px
}
.category_list ul .cat_fashion a {
	background-position: 10px -21px
}
.category_list ul .cat_make a {
	background-position: 10px -47px
}
.category_list ul .cat_hair a {
	background-position: 10px -73px
}
.category_list ul .cat_nail a {
	background-position: 10px -177px
}
.category_list ul .cat_beauty a {
	background-position: 10px -100px
}
.category_list ul .cat_gourmet a {
	background-position: 10px -230px
}
.category_list ul .cat_travel a {
	background-position: 10px -203px
}
.category_list ul .cat_love a {
	background-position: 10px -126px
}
.category_list ul .cat_lifestyle a {
	background-position: 10px -150px
}
.keyword_list {
	padding: 5px 10px 0 10px
}
.keyword_list ul {
	padding-bottom: 15px;
	letter-spacing: -.40em
}
.keyword_list ul li {
	display: inline-block;
	margin: 10px 10px 0 0;
	letter-spacing: normal
}
.keyword_list ul li a {
	padding: 6px 8px 7px 24px;
	border: 1px solid #ddd;
	//background: url(/assets/smart_phone/icon_tag-75c93a0a9ef3cd4e5328d71d6292902c.png) 8px 7px no-repeat;
	background-size: 11px 11px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #666;
	font-size: 13px
}
.topic_list ul li {
	border-bottom: 1px solid #eee
}
.topic_list ul li a {
	display: table;
	table-layout: fixed;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	width: 100%;
	line-height: 0
}
.topic_list ul li a .topic_list_thumb {
	display: table-cell;
	vertical-align: top;
	width: 85px
}
.topic_list ul li a .topic_list_thumb img {
	width: 75px;
	height: 75px
}
.topic_list ul li a .topic_list_content {
	display: table-cell;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;
	width: 100%;
	padding-right: 10px
}
.topic_list ul li a .topic_list_content .topic_list_title {
	font-size: 13px;
	line-height: 1.4em
}
.topic_list ul li a .topic_list_content .topic_list_tagline {
	margin-top: 5px;
	color: #999;
	font-size: 9px;
	line-height: 1.3em
}
.top_topic_btn_area {
	padding: 10px
}
.title_page {
	padding: 8px 10px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	background: #f5f5f5;
	color: #666;
	font-size: 12px;
	font-weight: bold
}
.title_section {
	margin-top: 20px;
	padding: 8px 10px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	background: #f5f5f5;
	color: #666;
	font-size: 12px;
	font-weight: bold
}
.title_archive {
	padding: 8px 10px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	color: #999;
	font-size: 11px;
	min-height: 1px
}
.title_archive.error {
	color: #dda501;
	font-size: 16px;
	font-weight: bold;
}
.title_archive:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden
}
.title_archive span {
	display: inline-block;
	float: right;
	text-align: right
}
.btn_type1 {
	display: block;
	-webkit-appearance: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	border: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	letter-spacing: 1px;
	background: #fc7c79;
	color: #fff;
	font-weight: bold
}
.btn_type2 {
	display: block;
	-webkit-appearance: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	border: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	letter-spacing: 1px;
	border: 1px solid #ddd;
	background: #fff;
	color: #666
}
.btn_type3 {
	display: block;
	-webkit-appearance: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	border: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	letter-spacing: 1px;
	border: 1px solid #ddd;
	background: #fff;
	background: url(/assets/sp/images/icon_btn_more.png) 97% center no-repeat;
	background-size: 6px 10px;
	color: #666
}
.btn_type4 {
	display: block;
	-webkit-appearance: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	border: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	letter-spacing: 1px;
	border: 1px solid #fc7c79;
	background: #fff;
	color: #fc7c79;
	font-weight: bold;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent
}
.btn_type4:active {
	background: #fc7c79;
	color: #fff;
	font-weight: bold
}
.btn_size1 {
	height: 42px;
	font-size: 13px;
	line-height: 42px
}
.btn_size2 {
	height: 32px;
	font-size: 12px;
	line-height: 32px
}
#paginate {
	margin-top: -1px;
	border-bottom: 1px solid #eee
}
.pagination {
	position: relative;
	height: 30px;
	padding: 15px 10px;
	border-top: 1px solid #eee;
	color: #999;
	font-size: 11px;
	text-align: center;
	line-height: 30px;
	min-height: 1px
}
.pagination:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden
}
.pagination span {
	display: block;
	position: absolute;
	width: 100px
}
.pagination span a {
	height: 30px
}
.pagination span img {
	width: 100px
}
.pagination .prev {
	top: 15px;
	left: 10px
}
.pagination .next {
	top: 15px;
	right: 10px
}
form label {
	display: block;
	margin: 15px 0 5px 0;
	font-size: 12px;
	font-weight: bold
}
form .btn_size1 {
	margin-top: 15px
}
.validate_message {
	display: block;
	margin-top: -10px;
	color: #fc7c79;
	font-size: 10px;
	font-weight: bold
}
input[type="text"],input[type="password"],input[type="email"] {
	-webkit-appearance: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 40px;
	padding: 0 8px;
	border: 1px solid #ddd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #fff;
	color: #666;
	font-size: 13px;
	line-height: 40px
}
.remember {
	margin-top: 15px;
	color: #999;
	font-size: 11px;
	text-align: right
}
.remember input {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: -5px 5px 0 0
}
.text_aside {
	margin-top: 15px;
	color: #666;
	font-size: 11px;
	line-height: 1.4em;
	text-align: center
}
.text_aside a {
	display: inline-block;
	padding: 0 5px;
	color: #999;
	text-decoration: underline
}
.link_aside {
	margin-top: 20px;
	font-size: 12px;
	text-align: right
}
.link_aside a {
	display: inline-block;
	color: #999;
	text-decoration: underline
}
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.7);
	z-index: 100
}
.modal-window {
	position: absolute;
	top: 150px;
	left: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 300px;
	height: 135px;
	margin: 0 0 0 -150px;
	padding: 0 10px;
	background: #f5f5f5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	z-index: 9999
}
.share_loader {
	position: absolute;
	top: 200px;
	left: 50%;
	margin-left: -10px;
	z-index: 300
}
.modal_content {
	padding: 12px 0 0 0
}
.modal_content ul {
	text-align: center
}
.modal_content ul li {
	display: inline-block;
	margin: 0 8px 0 8px
}
.modal_content ul li p {
	margin-top: 3px;
	color: #999;
	font-size: 11px;
	font-weight: bold;
	text-align: center
}
.title_modal {
	padding: 15px 0 10px 0;
	font-size: 14px;
	text-align: center;
	color: #666;
	font-weight: bold;
	border-bottom: 1px solid #ddd
}
.close_window {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 0;
	right: 0;
	//background: url(/assets/smart_phone/icon_popup_close-543be5d86af4385cfe2256459bcfc49d.png) no-repeat center center;
	background-size: 30px 30px
}
.login_modal_inner p {
	margin-bottom: 5px;
	color: #666;
	font-size: 11px;
	line-height: 1.5em
}
.login_modal_inner .modal_btn_area {
	min-height: 1px
}
.login_modal_inner .modal_btn_area:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden
}
.login_modal_inner .modal_btn_area .btn_type1 {
	float: left;
	width: 135px
}
.login_modal_inner .modal_btn_area .btn_type2 {
	float: right;
	width: 135px
}
.notification {
	position: absolute;
	top: 45px;
	left: 0;
	width: 100%;
	height: 9999px;
	z-index: 999;
	background: rgba(0,0,0,0.7)
}
.notification_inner {
	background: #fff
}
.notification_inner .defaultMessage {
	padding: 20px 10px;
	font-size: 12px;
	color: #666;
	line-height: 1.4em
}
.notification_inner ul {
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch
}
.notification_inner ul li .list_content {
	vertical-align: middle !important
}
.notification_inner ul li .list_content .notification_title {
	margin-bottom: 3px;
	font-size: 12px;
	line-height: 1.4em
}
.notification_inner ul li .list_content .notification_title span {
	padding-right: 3px;
	color: #666;
	font-weight: bold
}
.notification_time {
	padding: 2px 0 2px 15px;
	color: #999;
	font-size: 9px;
	font-weight: bold;
	line-height: 1
}
.notification_time.heart {
	//background: url(/assets/smart_phone/icon_notificationHeart-3f81e2fb103b5f38d1d23185ab4300c0.png) left 1px no-repeat;
	background-size: 12px 10px
}
.notification_time.award {
	//background: url(/assets/smart_phone/icon_notificationAward-dc1bb8941a093689f32ff574f176a7df.png) left 1px no-repeat;
	background-size: 12px 12px
}
.notification_time.comment {
	//background: url(/assets/smart_phone/icon_notificationComment-83d7f77575aaf05198ea6cadc05ee812.png) left 1px no-repeat;
	background-size: 12px 11px
}
.curator_area {
	padding: 10px 10px 0 10px
}
.curator_area .curator_area_inner {
	display: table;
	table-layout: fixed;
	width: 100%;
	margin-bottom: 10px;
	min-height: 1px
}
.curator_area .curator_area_inner:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden
}
.curator_area .curator_area_inner .curator_area_thumb {
	display: table-cell;
	vertical-align: top;
	width: 75px
}
.curator_area .curator_area_inner img {
	width: 65px;
	-webkit-border-radius: 33px;
	-moz-border-radius: 33px;
	border-radius: 33px
}
.curator_area .curator_area_inner .curator_area_info {
	display: table-cell;
	vertical-align: middle;
	width: 100%
}
.curator_area .curator_area_inner .curator_area_name {
	font-size: 13px;
	font-weight: bold
}
.curator_area .curator_area_inner .curator_area_desc {
	margin-top: 5px;
	color: #666;
	font-size: 10px;
	line-height: 1.4em
}
.hairsalon_credit {
	margin-top: 15px;
	padding: 0 10px
}
.hairsalon_credit p {
	color: #999;
	font-size: 10px;
	text-align: right
}
.hairsalon_credit a {
	margin-top: 5px;
	text-align: right
}
.invited_from {
	position: relative;
	min-height: 55px;
	margin-bottom: 10px;
	padding: 8px 10px 6px 75px;
	background: #fff;
	border: 1px solid #e7e7e7
}
.invited_from img {
	display: block;
	position: absolute;
	top: 10px;
	left: 10px;
	width: 55px;
	height: 55px
}
.invited_from p {
	font-size: 11px;
	line-height: 1.4em
}
.invited_bg {
	padding: 0px 122px 15px 10px;
	//background: url(/assets/smart_phone/invited_bg-73a1af55222b37fa97bbd7f3f240646e.png) right top no-repeat;
	background-size: 108px 156px
}
.invited_bg h2 {
	margin: 30px 0 10px 0;
	font-size: 14px;
	font-weight: bold
}
.invited_bg .action_btn,.invited_bg .default_btn {
	padding: 12px 0;
	font-size: 13px
}
.invited_lead {
	padding: 0 10px;
	font-size: 12px;
	line-height: 1.4em
}
.ad {
	margin-top: 20px;
	text-align: center
}
header#header .hd_inner h1 {
	width: 190px;

}
header#header .hd_inner h1 a {
	width: 100%;
	line-height: 45px;
	color: #fff;
	font-weight: bold
}
.text_search_empty {
	border-bottom: 1px solid #FFFFFF;
	color: #666666;
	font-size: 12px;
	line-height: 1.4em;
	padding: 15px 10px;
	position: relative;
	z-index: 200;
}
#paginate {
	padding: 14px 15px;
	text-align: center;

}
#paginate a {
	display: block;
	background: #ff96eb;
	height: 55px;
	line-height: 55px;

}
#paginate a span.load {
	display: block;
	color: #fff;
	font-size: 14px;

}
#paginate a span img {
	vertical-align: middle;
	margin-bottom: 3px;

}
.article_keyword_list {
	background: none repeat scroll 0 0 #F5F5F5;
	//margin-bottom: -10px;
	padding: 15px 10px;

}
.article_keyword_list .title_keyword {
	color: #666666;
	font-size: 12px;
	font-weight: bold;

}
.article_keyword_list ul {
	min-height: 1px;

}
.article_keyword_list ul:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;

}
.article_keyword_list ul li {
	display: inline-block;
	float: left;
	margin: 10px 15px 0 0;

}
.article_keyword_list ul li a {
	color: #666666;
	display: inline-block;
	font-size: 11px;
	text-decoration: underline;

}
.article_info {
	border-bottom: 1px solid #EEEEEE;
	min-height: 1px;
	padding: 0px 10px 5px;

}
.article_info:after {
	clear: both;
	content: ".";
	display: block;
	height: 0px;
	visibility: hidden;

}
.article_info p {
	display: inline-block;

}
.article_info .update_date {
	color: #999999;
	float: left;
	font-size: 10px;
	padding: 9px 0px 2px;
	width: 125px;

}
.article_info .count {
	color: #999999;
	float: right;
	letter-spacing: -0.4em;
	min-height: 1px;
	padding-top: 9px;
	text-align: right;
	width: 145px;

}
.article_info .count:after {
	clear: both;
	content: ".";
	display: block;
	height: 0px;
	visibility: hidden;

}
.article_info .count p {
	float: right;
	letter-spacing: normal;
	text-align: right;

}
.title_article {
	padding: 10px;

}
.title_article .title_article_inner {
	box-sizing: border-box;
	display: table;
	line-height: 0;
	overflow: hidden;
	table-layout: fixed;
	width: 100%;

}
.title_article .title_article_inner a {
	display: inline;

}
.title_article .title_article_inner .title_article_thumb {
	display: table-cell;
	vertical-align: top;
	width: 83px;

}
.title_article .title_article_inner h1 {
	display: table-cell;
	font-size: 15px;
	font-weight: bold;
	line-height: 1.4em;
	vertical-align: middle;
	width: 100%;

}
.article_lead {
	color: #666666;
	font-size: 11px;
	line-height: 1.4em;
	padding: 0px 10px;

}
.top_link_area {
	background: none repeat scroll 0 0 #F5F5F5;
	height: 30px;
	margin-top: 10px;
	min-height: 1px;
	padding: 0 10px;

}
.top_link_area:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;

}
.top_link_area li {
	font-size: 10px;

}

.article_info .count .view {
	border-left: 1px solid #eee;
	display: inline-block;
	font-size: 9px;
	padding-left: 5px;
}
.article_info .view span, .article_info .like span {
	color: #999;
	font-size: 10px;
	font-weight: bold;
	padding-right: 1px;
}

.content_area {
	padding: 0 10px 20px;

}
.mt0 {
	margin-top: 0;

}
.mt20 {
	margin-top: 20px;

}
iframe {
	vertical-align: bottom;

}
.video_container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;

}
.video_container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

}

#article.detail .content_area {
	padding: 0 0 20px 0;
}
#article.detail .item {
	border: 3px solid #f5f5f5;
}

#article.detail .thumbs {
	width: 100%;
	margin: 0 auto;
	clear: both;
}
	#article.detail .thumbs li {
		width: 25%;
		float: left;
		list-style: none;
	}
		#article.detail .thumbs li img {
			vertical-align: bottom;
		}

header#header .hd_inner .btn_hd_back {
	background: url(/assets/sp/images/icon_hd_back.png) no-repeat scroll 12px center / 9px 15px rgba(0, 0, 0, 0);
	left: 0;
}
header#header .hd_inner h1 span {
	color: #fff;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	height: 45px;
	letter-spacing: 0.1em;
	line-height: 45px;
}
.wrapper_search {
	padding-top: 45px;
}
.wrapper_search #searchForm {
	padding: 10px;
}
.wrapper_search #searchForm input {
	background: url(/assets/sp/images/icon_search.png) no-repeat scroll 96% 11px / 18px 18px rgba(0, 0, 0, 0);
}
.keyword_list ul li a {
	background: url(/assets/sp/images/icon_tag.png) no-repeat scroll 8px 7px / 11px 11px rgba(0, 0, 0, 0);
	border: 1px solid #ddd;
	border-radius: 2px;
	color: #666;
	font-size: 13px;
	padding: 6px 8px 7px 24px;
}

.play_time {
	position: absolute;
	background: none repeat scroll 0px 0px rgba(184, 184, 184, 0.7);
	color: #fff;
	font-size: 11px;
	line-height: 15px;
	padding: 0px 3px;
	margin: 83px 0 0 8px;
}

.rank_number {
	position: absolute;
	background: none repeat scroll 0px 0px rgba(184, 184, 184, 0.7);
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	padding: 0px 6px;
	margin: 8px 0 0 8px;
}
.rank_number_1 {
	background: none repeat scroll 0px 0px rgba(251, 201, 129, 0.7);
}
.rank_number_2 {
	background: none repeat scroll 0px 0px rgba(170, 170, 170, 0.7);
}
.rank_number_3 {
	background: none repeat scroll 0px 0px rgba(209, 145, 114, 0.7);
}

#search_view header#header {
	position: static;
}
#search_view .wrapper_search {
	padding-top: 0;
}

.static_content {
	padding: 15px 10px;
}
.static_content .title_static {
	border-bottom: 2px solid #eee;
	color: #666;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 5px;
}
.static_content h2 {
	color: #666;
	font-size: 12px;
	font-weight: bold;
	margin-top: 15px;
}
.static_content h2 span {
	background: none repeat scroll 0 0 #fc7c79;
	color: #fff;
	display: inline-block;
	font-size: 9px;
	font-weight: bold;
	margin-left: 5px;
	padding: 2px 5px;
}
.static_content p {
	color: #666;
	font-size: 11px;
	line-height: 1.5em;
	margin-top: 10px;
}
.static_content p a {
	display: inline;
}
.static_content input, .static_content select, .static_content textarea {
	margin-top: 5px;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden
}
.clearfix {
	min-height: 1px
}
* html .clearfix {
	height: 1px
}


/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.defalut .flexslider {margin: 0 0 25px; background: #fff; position: relative; zoom: 1;}
.defalut .flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}

.custom .flexslider {margin: 0 0 60px; background: #fff; position: relative; zoom: 1;}
.custom .flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}

.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 0}

/* Direction Nav */
.defalut .flex-direction-nav {*height: 0;}
.defalut .flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block; background: url(/assets/sp/images/bg_direction_nav02.png) no-repeat 0 0; position: absolute; top: 55%; z-index: 10; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.defalut .flex-direction-nav .flex-next {opacity: 1; background-position: 100% 0; right: 5px; }
.defalut .flex-direction-nav .flex-prev {opacity: 1; left: 5px;}

.custom .flex-direction-nav {*height: 0;}
.custom .flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block; background: url(/assets/sp/images/bg_direction_nav01.png) no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.custom .flex-direction-nav .flex-next {opacity: 1; background-position: 100% 0; right: 12px; z-index: 1; }
.custom .flex-direction-nav .flex-prev {opacity: 1; left: 12px; z-index: 1; }

/* Control Nav */
.defalut .flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.defalut .flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.defalut .flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.defalut .flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.defalut .flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.defalut .flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.defalut .flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.defalut .flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.defalut .flex-control-thumbs img:hover {opacity: 1;}
.defalut .flex-control-thumbs .flex-active {opacity: 1; cursor: default;}
.defalut .flex-direction-nav .flex-disabled {opacity: 0!important; filter:alpha(opacity=30); cursor: default;}

.custom .flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.custom .flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}

@media only screen and (max-width: 959px) {
	.custom .flex-direction-nav-bg-prev,
	.custom .flex-direction-nav-bg-next,
	.custom .flex-viewport-shadow,
	.custom .flex-direction-nav a {
		width: 0; height: 0; margin: 0; display: none; background: none;
	}
}